<footer>

	<hr style='border-top: 4px double; color: gray'>
	<br>

	Email: <a href="mailto:yoelcortes@gmail.com">Yoel Cortes-Pena</a>
	&nbsp&nbsp
	CV: <a href="https://github.com/yoelcortes/website/blob/master/Yoel%20Cortes-Pena%20Resume%202021.pdf">December 2021</a>

	<br><br>

	<!-- Google Scholar -->
	<img src='https://yoelcortes.github.io/images/logos/google-scholar.png', alt='Google Scholar',
	style='float: center; width: 32px; vertical-align: middle'>
	<a href="https://scholar.google.com/citations?user=rCGrXaMAAAAJ&hl=en&oi=ao">Google Scholar</a>
	&nbsp&nbsp

	<!-- ORCiD -->
	<link rel="stylesheet" href="https://yoelcortes.github.io/css/academicons.min.css"/>
	<i class="ai ai-orcid ai-2x", style='float: center; width: 32px; vertical-align: middle;'></i>
	<a href="https://orcid.org/0000-0003-1742-5059">ORCiD</a>
	&nbsp&nbsp

	<!-- LinkedIn -->
	<img src='https://yoelcortes.github.io/images/logos/linkedin.png', alt='LinkedIn',
	style='float: center; width: 32px; vertical-align: middle'>
	<a href="https://www.linkedin.com/in/yoel-cortes-pena-20541a36/">LinkedIn</a>

	<br><br>

	<!-- GitHub -->
	<img src='https://yoelcortes.github.io/images/logos/github.png', alt='GitHub',
	style='float: center; width: 32px; vertical-align: middle'>
	&nbsp
	@<a href="http://github.com/yoelcortes">yoelcortes</a>
	&nbsp
	@<a href="http://github.com/BioSTEAMDevelopmentGroup">BioSTEAMDevelopmentGroup</a>

	<br><br>

</footer>
